<h2 id="title">EpiCraigslistOdus (sure...)</h2>

<nav class='navbar navbar-default'>
    <div class='container'>
        <div class='navbar-brand'>

          <div class='list-group'>
              {{#link-to 'sign-up' class='list-group-item'}}
                  Sign Up
              {{/link-to}}
              {{#link-to 'sign-in' class='list-group-item'}}
                  Sign In
              {{/link-to}}
          </div>

        </div>

        <div class='navbar-right'>
                   {{#if session.isAuthenticated}}
                       <button
                           class='btn btn-default navbar-btn'
                           {{action 'signOut'}}
                       >
                           {{fa-icon 'sign-out'}} Sign Out
                       </button>
                   {{/if}}
               </div>

    </div>
</nav>
<div class='container'>
    {{outlet}}
</div>
